body{
  background-color: black;
  background-image: url("https://i.ibb.co/4dtyQbg/image-search-1619245393111-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  color: white;
  font-size: 60px;
}
.content{
  font-size: 25px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
}

.content2{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  font-style: italic;
}
