<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="utf-8">
    <title>Altruist</title>
  </head>
  <body>
    <div class="title">
      <center>
        <p>Altruist</p>
        </center>

    </div>
    <div class="subtitle">
      <center>
        <p>we care for the ones, <br /> who always cares for us</p>
        </center>
    </div>
    <br /><br /><br />
    <div class="Download">
      <center>
        <p>Download the apk app from the button below</p>
        </center>
    </div>

    <br>
<center>
  <img src="https://lh3.googleusercontent.com/proxy/WDJ4s0CkR4vjwk4647KRsogGoRvyLKOMuSF3I_U4z77vH_I3I0qpf8GAlanNzXvs0VyX0D4tM_Va9ORYQ_ItvOZjq16QYpgatfK23Wub1CGJvEFNJHC4KpHPej0YcroPpmOFy4E" alt="" width="50%" onclick="window.location.href='https://drive.google.com/drive/folders/1HjofpuivR0G4pk99XF_NbNud2GQfNH7s?usp=sharing'">

  </center>
      </body>
</html>
