<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      Resources - Altruist
    </title>
  </head>
  <link rel="stylesheet" href="../static/styles2.css">
  <body>
<center>
  <img src="https://cdn.discordapp.com/attachments/834814458495762473/835379192505040906/cute-critters-vector2.png" alt="" width="20%">

  </center>
    <div class="title">
      <center>
        <p>
    Resources for you
          </p>
        </center>
    </div>
    <div class="content">
      <center>
      <p>Responding to disasters is both rewarding and challenging work. Sources of stress for emergency responders may include witnessing human suffering, risk of personal harm, intense workloads, life-and-death decisions, and separation from family. Stress prevention and management is critical for responders to stay well and to continue to help in the situation. There are important steps responders should take before, during, and after an event. To take care of others, responders must be feeling well and thinking clearly.</p>
        </center>

    </div>

    <br><br><br>
    <div class="content2">
<center>
  Disaster Distress Helpline: CALL or TEXT 1-800-985-5990 (press 2 for Spanish).
  <br>
People with deafness or hearing loss can use their preferred relay service to call 1-800-985-5990.

  </center>
    </div>
<br><br>
    <div class="content">
      <center>
        <p>some external resources:-</p>
        </center>
    </div>
    <br><br>
    <center>
      <img src="https://i.ibb.co/717NtRJ/GUIDE-1-3.png" alt="" width="30%" onclick="window.location.href='https://www.ncjrs.gov/pdffiles1/nij/219941.pdf'">

      <img src="https://i.ibb.co/VNvVK34/GUIDE-1-2.png" alt="" width="30%" onclick="window.location.href='https://www-pub.iaea.org/MTCD/publications/PDF/epr_Firstresponder_web.pdf'">
<br><br>
<img src="https://i.ibb.co/d4CygK5/GUIDE-1.png" alt="" width="30%" onclick="window.location.href='https://www.samhsa.gov/dtac/disaster-responders'">
<img src="https://i.ibb.co/Bqf9wfq/GUIDE-1-1.png" alt="" width="30%" onclick="window.location.href='https://allclearfoundation.org/resources/'">

      </center>
  </body>
</html>
